String i wyrażenia regularne

In [0]:
str1 = "tekst1"
str2 = "tekst1"
str3 = "tekst1"

if str1==str2:
  print("to samo 1 i 2!")
  if str1==str3:
    print("wszystko to samo!")

to samo 1 i 2!
wszystko to samo!

In [0]:
str="WieKIE LiteRKI NIE ladny NAPIS"

In [0]:
str.upper()

'WIEKIE LITERKI NIE LADNY NAPIS'

In [0]:
str.lower()

'wiekie literki nie ladny napis'

In [0]:
str.title()

'Wiekie Literki Nie Ladny Napis'

In [0]:
str.capitalize()

'Wiekie literki nie ladny napis'

In [0]:
str= '    szybko   pisale i podwojene spacje  zrobilem'

In [0]:
str.strip()

'szybko   pisale i podwojene spacje  zrobilem'

In [0]:
str.rstrip()

'    szybko   pisale i podwojene spacje  zrobilem'

In [0]:
str.lstrip()

'szybko   pisale i podwojene spacje  zrobilem'

In [0]:
str = "aaaale duzy wirus"

In [0]:
buff=str[0]

In [0]:
buff + str.strip("a")

'ale duzy wirus'

In [0]:
3 - marzec a my chcemy żeby było 03

In [0]:
'12'.zfill(2)

'12'

In [0]:
str = "dlugie zdanie i bez sensu"
gdziezdanie=str.find("zdanie")

In [0]:
gdziezdanie

7

In [0]:
str[7:13]

'zdanie'

In [0]:
str.replace(" zdanie","")

'dlugie i bez sensu'

In [0]:
wyraz = "bo taki przyklad"

In [0]:
strona = """<html>

<head>
<title>Tytuł strony</title>
</head>

<body>
<p>To jest nasza nowa strona internetowa.</p>
</body>

</html>"""

In [0]:
strona

'<html>\n\n<head>\n<title>Tytuł strony</title>\n</head>\n\n<body>\n<p>To jest nasza nowa strona internetowa.</p>\n</body>\n\n</html>'

In [0]:
linia.partition(str)

('jakies troche dluzsze zdanie ', 'bo taki przyklad', ' jest potrzebny')

In [0]:
def listToString(s):  
    
    # initialize an empty string 
    str1 = " " 
    
    # return string   
    return (str1.join(s))

In [0]:
import re
rr= re.sub('<.*?>','',strona)
strona= rr.split(linia)

In [0]:
strona=listToString(strona)

In [0]:
strona.replace("\n"," ").replace("  "," ").replace("  "," ")

' Tytuł strony To jest nasza nowa strona internetowa. '

In [0]:
confirmed_cases

    Province/State  Country/Region      Lat  ...  3/17/20  3/18/20  3/19/20
0              NaN        Thailand  15.0000  ...      177      212      272
1              NaN           Japan  36.0000  ...      878      889      924
2              NaN       Singapore   1.2833  ...      266      313      345
3              NaN           Nepal  28.1667  ...        1        1        1
4              NaN        Malaysia   2.5000  ...      673      790      900
..             ...             ...      ...  ...      ...      ...      ...
463        Bermuda  United Kingdom  32.3078  ...        0        0        2
464            NaN            Chad  15.4542  ...        0        0        1
465            NaN     El Salvador  13.7942  ...        0        0        1
466            NaN            Fiji -17.7134  ...        0        0        1
467            NaN       Nicaragua  12.8654  ...        0        0        1

[468 rows x 62 columns]